
#header{
background-color: #2f364a;
width: 100%;
color: #fff;

}
#logo{
padding-left: 8%;
padding-top: 1%;
padding-bottom: 1%;
font-style: Ubuntu;
}
#logoimg{
width: 14%;
padding-right: 3%;
z-index: 1;
min-width: 40px;
}
#login-form{
padding-left: 100px;

}
.row{
	    text-decoration: none;
    vertical-align: middle;

}
#logo a{
	  text-decoration: none;
    color: #fff;
}
#logo a:hover{
    color: #2098D1;
}
#button{
	background-color:#2098D1;
    color: #fff;
    border:0px;
    font-weight: 8px;
    font-size: 1.2em;
    padding: 4px;
    margin: 0px;
}

#righ
{
	text-align: right;
	float: right;

}

.login{
width:400px;
margin:auto;
margin-top:100px;
margin-bottom:200px;
}
#mainfor{
	height: 80px;
	width: 220px;
	text-align: left;
}
#signin_form{
	border-color: black;
	padding-top: 50px;
}
#signin_form input{
height: 40px;
width:100%;
border-color:#3498db;
border-radius: 5px;
}
.btn-submit{
background-color: #3498db;
}
.register{
width:400px;
margin:auto;
margin-top:100px;
margin-bottom:200px;
}

#fetch li
li { color: blue; }
li:nth-child(odd) { color: green; }


